/* Header */

.header {
  box-sizing: border-box;
  color: #223f55;
}

.header--small-screen-hidden {
  display: none;
}

@media (min-width: 850px) {
  .header--small-screen-hidden {
    display: block;
  }
}

/* Article */

.article {
  box-sizing: border-box;
  color: #223f55;
  background: #f8f9f9;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 1em;
  grid-template-areas:
    "top-left-button  .             top-right-button"
    "headline         headline      headline"
    ".                .             topic"
    ".                .             timestamp"
    "image            image         image"
    "body             body          body"
    ".                .             author"
    "vote-widget      comment       comment"
    "comment-list     comment-list  comment-list";
}

@media (min-width: 850px) {
  .article {
    grid-template-columns: 3fr 3fr 1fr 3fr 1fr;
    grid-template-areas:
      "top-left-button  .         image         image         image"
      "headline         topic     image         image         image"
      ".                timestamp image         image         image"
      "body             body      image         image         image"
      "body             body      .             .             author"
      "body             body      vote-widget   comment       ."
      "body             body      comment-list  comment-list  comment-list";
  }
}

.article__navigation {
  text-decoration: underline;
}

.article__error {
  grid-area: body;
}

.article__headline {
  grid-area: headline;
}

.article__topic {
  grid-area: topic;
  text-align: right;
}

.article__timestamp {
  grid-area: timestamp;
  text-align: right;
}

.article__image {
  grid-area: image;
  max-width: 100%;
  height: auto;
}

.article__body {
  grid-area: body;
}

.article__author {
  grid-area: author;
  text-align: right;
}

/* Article list */

.article-list {
  box-sizing: border-box;
  color: #223f55;
  background: #f8f9f9;
  grid-area: grid1;
}

/* Article card */

.article-card {
  box-sizing: border-box;
  color: #223f55;
  background: #f8f9f9;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.article-card__section {
  max-width: 45%;
}

.article-card__image {
  height: auto;
}

/* Comment composer */

.comment-composer {
  box-sizing: border-box;
  color: #223f55;
  background: #f8f9f9;
  grid-area: comment;
  width: 100%;
  margin: 5px;
}

.comment-composer__button {
  height: 4em;
}

.comment-composer__input {
  height: 5em;
}

/* Comment list */

.comment-list {
  grid-area: comment-list;
}

/* Comment card */

.comment-card {
  box-sizing: border-box;
  padding: 5px 10px;
  margin: 5px 0;
  background-color: #223f55;
  color: #f8f9f9;
}

.comment-card--disabled {
  background-color: #697d8c;
  color: #b1bbc2;
}

.comment-card--disabled::before {
  content: "Deleting...";
}

.comment-card__button {
  background-color: red;
  color: white;
  border: none;
}

.comment-card--disabled .comment-card__button {
  visibility: hidden;
}

.comment-card__comment {
  background-color: transparent;
}

.comment-card__author {
  background-color: transparent;
  text-align: right;
}

.comment-card__timestamp {
  background-color: transparent;
  text-align: right;
  font-style: italic;
}

.comment-card__error {
  background-color: transparent;
  color: red;
}

/* Old to import */

/* * {
  color: #223f55;
  background: #f8f9f9;
  box-sizing: border-box;
}

h1 {
  background: transparent;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.columns-2-1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "grid1"
    "grid2"
    "grid3";
}

.hiddenOnSmallScreen {
  display: none;
}

@media (min-width: 850px) {
  .hiddenOnSmallScreen {
    display: block;
  }
  .columns-2-1 {
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      "grid1 grid3"
      "grid2 .";
  }
}

.error {
  background-color: transparent;
  color: red;
}

.widget-sort {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}

.widget-sort p {
  margin: 0 5px;
}

.widget-sort button {
  border: none;
  background-color: #223f55;
  color: #f8f9f9;
}

.widget-sort .selected {
  border: none;
  background-color: #697d8c;
  color: #b1bbc2;
}

.widget-vote {
  display: flex;
  gap: 5px;
}

.widget-vote button {
  margin: 10px;
  padding: 0;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.widget-vote .error {
  padding: 10px 0;
} */
